# RStudio
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Ignore raw data
_raw/
Data/
data/
*.xlsx

#Quarto cache
*_cache/
*.log

#Ignore results (have to be generated, and shouldn't be uploaded to Git):
results/
